span{
    border:none;
    min-width: 10px;
    display: inline-block;
}

h5{
    margin-bottom: 2px;
}
p{
    margin:5px;
    font-size: 15px;
}
.py-terminal{
    max-height: 200px;
}

#output {
    margin-top: 15px !important;
    font-weight: bold;
    margin:auto;
}
img{
    margin:auto;
    display: block;
}
#loadingText{
    font-weight: bold;
    font-size: 20px;
}